<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eksell.eksell.eksell">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EKSell"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".LoginActivity"
            android:label="@string/activity_login" >

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegistrationActivity"
            android:label="@string/activity_registration"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ItemListingActivity"
            android:label="@string/activity_listing">
        </activity>

        <activity
            android:name=".OrderActivity"
            android:label="@string/activity_listing">
        </activity>

        <activity
            android:name=".CameraActivity" >
        </activity>
    </application>

</manifest>